{% load static %}
<head>
    <base href="{% static '' %}">
    <title>Sims Automation</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="shortcut icon" href="assets/media/logos/favicon.ico" /> -->
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        "use strict";

        var AuthToken = localStorage.getItem("AuthToken");
        var username = localStorage.getItem("username");
        var userType = localStorage.getItem("userType");
        // var permission = localStorage.getItem("user_permission");

        // var permission_obj = JSON.parse(permission);

        $(document).ready(function () {
            var path = $(location).attr('pathname');
            if (path != '/' && path != '/index/' && path != '/forget_password/') {
                if (AuthToken == null || AuthToken == '') {
                    window.location.replace("{% url 'login_view' %}");
                } else {
                    // $('.user-details span').html(username);
                    // $('.pro-head span').html(username);
                    // $('#more-details').html(userType + '<i class="fa fa-chevron-down m-l-5"></i>')
                }
            }
        });
    </script>
</head>