{% extends "../layouts/body.html"%}

{% block sidebar %}
	{% include "../layouts/sidebar.html" with category="Dashboard" %}
{% endblock %}

{% block header %}
	{% include "../layouts/header.html" with header="Dashboard"%}
	<style>
		.font-size-lg {
            font-size: 1.08rem !important;
        }

        .font-weight-bold {
            font-weight: 500 !important;
        }

        .font-size-h2 {
            font-size: 18px !important;
        }
        .font-weight-bolder{
            font-weight: 600 !important;
        }
		.bg-radial-gradient-primary {
            background-color: #009EF7;
            background-image: radial-gradient(circle, rgba(255, 226, 229, 0.4), #009EF7 70%);
        }

        .bg-radial-gradient-success {
            background-color: #20c997;
            background-image: radial-gradient(circle, rgba(255, 226, 229, 0.4), #20c997 70%);
        }

        .bg-radial-gradient-danger {
            background-color: #F64E60;
            background-image: radial-gradient(circle, rgba(255, 226, 229, 0.4), #F64E60 70%);
        }

        .bg-radial-gradient-warning {
            background-color: #ffc107;
            background-image: radial-gradient(circle, rgba(255, 226, 229, 0.4), #ffc107 70%);
        }
	</style>
{% endblock %}

{% block toolbar %}
	<!--begin::Title-->
	<h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Dashboard</h1>
	<!--end::Title-->
	<!--begin::Separator-->
	<span class="h-20px border-gray-300 border-start mx-4"></span>
	<!--end::Separator-->
{% endblock %}


{% block content %}

{% endblock %}

{% block js %}
<script>
	var attachment = undefined;
	$( document ).ready(function() {

	});
</script>
{% endblock %}